@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Cascading 드롭다운리스트</h1>

<h3>Properties</h3>

<select asp-items="ViewBag.PropertyId"></select>

<h3>Locations</h3>

<select asp-items="ViewBag.LocationId"></select>

<h3>Sublocations</h3>

<select asp-items="ViewBag.SublocationId"></select>
